{% extends 'finalexam/main.html' %}
{% load static %}
{% block content %}

<link rel = "stylesheet" type="text/css" href = "{% static 'css/main.css' %}">

<div class="container">
    <img src="{% static 'images/img3.jpg' %}" alt="picss" class="logo-image">
    <h1>About Green Life!</h1>
    <p>At GreenLife, we are dedicated to promoting a sustainable and environmentally conscious lifestyle. We believe that by making mindful choices in our daily lives, we can contribute to a greener and healthier planet.</p>
  
    <h1>Our Vision</h1>
    <p>We envision a world where sustainability is at the forefront of every decision. We strive to inspire individuals and communities to adopt sustainable practices and make eco-friendly choices that have a positive impact on our environment.</p>

    <h1>Our Mission</h1>
    <p>Our mission is to provide a platform that empowers individuals to embrace a green lifestyle. We curate a wide range of sustainable products, from home essentials to personal care items, that are ethically sourced and eco-friendly. We believe that everyone can make a difference through the choices they make, and we aim to make sustainable living accessible and enjoyable for all.</p>

</div>

{% endblock content %}