{% extends 'finalexam/main.html' %}
{% load static %}
{% block content %}

<link rel = "stylesheet" type="text/css" href = "{% static 'css/main.css' %}">

<div class="container">
    <img src="{% static 'images/img2.jpg' %}" alt="Aqua Leap" class="logo-image">
    <h1>Welcome to Green Life!</h1>
    <p>Welcome to GreenLife, where sustainability meets everyday living. We are passionate about offering eco-friendly products that make a positive impact on our planet. Our mission is to provide you with a wide range of sustainable options, allowing you to embrace a greener lifestyle without compromising on quality or style.</p>
    <p>At GreenLife, we believe that small changes can create a big difference. That's why we carefully curate our products, ensuring they are ethically sourced, environmentally friendly, and promote sustainable practices. From renewable materials to fair-trade production, we prioritize products that align with our commitment to sustainability.</p>  
    <p>Join us in making conscious choices for a better future. Explore our collection of eco-friendly products, thoughtfully designed to enhance your daily life while minimizing your carbon footprint. Together, we can create a greener, more sustainable world for generations to come.</p>
    <p>Choose GreenLife. Embrace sustainability.</p>  
  </div>

{% endblock content %}
